.bg-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-image: url('https://i.postimg.cc/L5GPjmKN/clarke-sanders-Jp-COGj0u-Il-I-unsplash.jpg');
    background-size: cover;
}
  
  .login-website-logo {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .login-form-container {
    padding: 50px;
    width: 65%;
    height: 75%;
    margin-right: 80px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.425);
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .label-element {
    font-size: 15px;
    font-weight: bold;
    font-family: 'roboto';
    margin-bottom: 5px;
  }
  
  .username-input-filed {
    width: 250px;
    border-width: 1px;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .password-input-filed {
    width: 250px;
    border-width: 1px;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .login-button {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    border-radius: 20px;
    border-width: 0;
    padding: 10px;
    width: 50%;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-size: 15px;
    font-weight: bold;
  }