.bg-container {
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 255, 248));;
  width: 100%;
  background-size: cover;
}

.text-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .text-container {
    margin-left: 50px;
    width: 50%;
  }
  
  .text-heading {
    color: #7f0000;
    font-family: 'Roboto';
    font-size: 50px;
  }
  
  .text-paragraph {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
  }
  
  .btn-shop-now-style {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-style: 'Roboto';
    border-radius: 5px;
    border-width: 0;
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
  
  .img {
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
  }