.tab-bg-container {
    display: flex;
    justify-content: center;
}

.tab-img {
    height: 70%;
    width: 80%;
    margin: 20px;
    border-radius: 15px;
}

.tab-heading {
    color: rgb(0, 39, 26);
    font-size: 35px;
}

.tab-price {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
}

.tab-ratings {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 237);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 30px;
}

.tab-total-reviews {
    color: black;
    font-weight: bold;
}

.tab-description {
    color: rgb(2, 25, 45);
    font-weight: bold;
    font-size: 20px;
}

.tab-available {
    color: rgb(2, 25, 45);
    font-weight: bold;
}

.tab-brand {
    color: rgb(2, 25, 45);
    font-weight: bold;
}

.tab-span-element {
    color: rgb(43, 43, 43);
    font-weight: bold;
}

.tab-button {
    background-color: rgb(0, 150, 237);
    color: rgb(255, 255, 255);
    border-width: 0px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .tab-bg-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tab-heading {
        font-size: 25px;
    }
    .tab-description {
        font-size: 8px;
    }
    .tab-price {
        font-size: 20px;
    }
}